<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Oral Disease Prediction" />
    <meta name="author" content="Mini-Project Team" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Based on Symptoms</title>
    <link
      href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/templatemo-chain-app-dev.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/animated.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='assets/css/owl.css')}}"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background: #f4f4f4;
        color: #333;
      }
      h2,
      h4,
      h1 {
        color: #007bff;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .main-banner {
        background: #007bff;
        color: #fff;
        padding: 50px 0;
        text-align: center;
      }
      .main-banner h2, .main-banner p {
        color: #fff;
      }
      .form-container {
        background: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin: 30px auto;
        max-width: 500px;
      }
      footer {
        background: #007bff;
        padding: 20px 0;
        text-align: center;
      }
      footer p, footer h4{
        color: #fff;
      }
      #result {
        font: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
        font-weight: 900;
      }
    </style>
  </head>
  <body>
    <header class="header-sticky" style="height: auto">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <h2 class="navbar-brand">Oral Diseases Detection</h2>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="/prediction">Prediction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/symptoms">Symptoms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="main-banner">
      <h2>Predict Based on Symptoms</h2>
      <p>Select symptoms to detect potential oral diseases.</p>
    </div>

    <div class="container">
      <div class="form-container text-center">
        <h4 class="mb-4">Select Symptoms</h4>
        <form id="symptomForm" action="/symptoms">
          <div class="mb-3">
            <label for="symptom1" class="form-label fw-bold">Symptom 1:</label>
            <select
              id="symptom1"
              class="form-select"
              onchange="populateSymptomOptions('symptom1', 'symptom2', 'symptom3')"
            >
              <option value="select">Select Symptom</option>
              <option value="gum disease">Gum Disease</option>
              <option value="a cracked tooth">Cracked tooth</option>
              <option value="worn-down fillings or crowns">
                Worn-down fillings or crowns
              </option>
              <option value="Yellowish discoloration">
                Yellowish discoloration
              </option>
              <option value="Black, white, or brown tooth stains">
                Black, white, or brown tooth stain
              </option>
              <option value="Pain when you bite down">
                Pain when you bite down
              </option>
              <option value="Holes or pits in your teeth">
                Holes or pits in your teeth
              </option>
              <option value="Cracked or chipped teeth">
                Cracked or chipped teeth
              </option>
              <option value="Grooves on your teeth's surface">
                Grooves on your teeth's surface
              </option>
              <option value="bleeding">Bleeding</option>
              <option value="pain">Pain</option>
              <option value="sore throat">Sore throat</option>
              <option value="Ear Pain">Ear pain</option>
              <option value="Dramatic weight loss">Dramatic weight loss</option>
              <option value="Difficulty chewing or swallowing">
                Difficulty chewing or swallowing
              </option>
              <option value="Bad breath">Bad breath</option>
              <option value="Painful chewing">Painful chewing</option>
              <option value="Red and swollen gums">Red and swollen gums</option>
              <option value="Tender or bleeding gums">
                Tender or bleeding gums
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="symptom2" class="form-label fw-bold">Symptom 2:</label>
            <select
              id="symptom2"
              class="form-select"
              onchange="populateSymptomOptions('symptom2', 'symptom3', '')"
              disabled
            >
              <option value="select">Select Symptom</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="symptom3" class="form-label fw-bold">Symptom 3:</label>
            <select
              id="symptom3"
              class="form-select"
              onchange="enableSubmitButton()"
              disabled
            >
              <option value="select">Select Symptom</option>
            </select>
          </div>
          <button
            type="button"
            class="btn btn-primary mt-3"
            id="submitButton"
            onclick="checkSymptoms()"
            disabled
          >
            Proceed
          </button>

          <div id="result"></div>
        </form>
      </div>
    </div>

    <footer id="about">
      <div class="container" style="cursor: pointer;">
        <h4>About</h4>
        <p>
          Oral diseases often go undetected, leading to serious health
          implications. We propose a deep learning approach for oral disease
          detection using intraoral images, achieving a 94.6% accuracy rate. Our
          platform aids healthcare professionals and individuals alike in
          combating oral diseases.
        </p>
        <h4 style="font-size: 24px; margin: 20px 0 15px">Team Members</h4>
        <div
          style="
            display: flex;
            justify-content: center;
            gap: 15px;
            color: #fff;
            flex-wrap: wrap;
          "
        >
          <div
            style="
              background: #007bff;
              padding: 15px;
              border-radius: 8px;
              width: 100%;
              max-width: 250px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              text-align: center;
            "
          >
            <img
              src="{{url_for('static',filename='team/photo-4.jpg')}}"
              alt="Balaji Pichchika"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 10px 0;
              "
            /><br />
            <strong>Balaji Pichchika</strong> - CSE<br />
            <a href="mailto:balajipicchika02@gmail.com" style="color: #fff"
              >balajipicchika02@gmail.com</a
            >
          </div>
          <div
            style="
              background: #007bff;
              padding: 15px;
              border-radius: 8px;
              width: 100%;
              max-width: 250px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              text-align: center;
            "
          >
            <img
              src="{{url_for('static',filename='team/photo-3.jpeg')}}"
              alt="Teammate 1"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 10px 0;
              "
            /><br />
            <strong>Tirumala U S S Naga Laxmi Durga Devi</strong> - CSE<br />
            <a href="mailto:ussnlddevi@gmail.com" style="color: #fff"
              >ussnlddevi@gmail.com</a
            >
          </div>
          <div
            style="
              background: #007bff;
              padding: 15px;
              border-radius: 8px;
              width: 100%;
              max-width: 250px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              text-align: center;
            "
          >
            <img
              src="{{url_for('static',filename='team/photo-1.jpg')}}"
              alt="Teammate 2"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 10px 0;
              "
            /><br />
            <strong>Yegireddi Eswari</strong> - CSE<br />
            <a href="mailto:eswariyegireddi@gmail.com" style="color: #fff"
              >eswariyegireddi@gmail.com</a
            >
          </div>
          <div
            style="
              background: #007bff;
              padding: 15px;
              border-radius: 8px;
              width: 100%;
              max-width: 250px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              text-align: center;
            "
          >
            <img
              src="{{url_for('static',filename='team/photo-2.jpeg')}}"
              alt="Teammate 3"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 10px 0;
              "
            />
            <br />
            <strong>Prasad Rajana</strong> - CSE<br />
            <a href="mailto:rajanaprasad2004@gmail.com" style="color: #fff"
              >rajanaprasad2004@gmail.com</a
            >
          </div>
          <div
            style="
              background: #007bff;
              padding: 15px;
              border-radius: 8px;
              width: 100%;
              max-width: 250px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              text-align: center;
            "
          >
            <img
              src="{{url_for('static',filename='team/photo-5.jpeg')}}"
              alt="Teammate 3"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 10px 0;
              "
            />
            <br />
            <strong>Jagadeesh Gadi</strong> - CSE<br />
            <a href="mailto:jagadeeshgadi844@gmail.com" style="color: #fff"
              >jagadeeshgadi844@gmail.com</a>
          </div>
        </div>
        <p style="margin-top: 30px">&copy; 2024 Mini-Project Team Batch-C1</p>
      </div>
    </footer>

    
    <script>
      function populateSymptomOptions(
        selectedSymptomId,
        nextSymptomId,
        nextNextSymptomId
      ) {
        const selectedSymptom =
          document.getElementById(selectedSymptomId).value;
        const nextSymptom = document.getElementById(nextSymptomId);
        const nextNextSymptom = document.getElementById(nextNextSymptomId);

        fetch("/get_related_symptoms", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ selected_symptom: selectedSymptom }),
        })
          .then((response) => response.json())
          .then((data) => {
            nextSymptom.innerHTML = "";
            const defaultOption = document.createElement("option");
            defaultOption.text = "Select Symptom";
            defaultOption.value = "";
            nextSymptom.appendChild(defaultOption);
            const remainingSymptoms = data.related_symptoms.filter(
              (symptom) => {
                return (
                  symptom !== document.getElementById("symptom1").value &&
                  symptom !== document.getElementById("symptom2").value
                );
              }
            );
            remainingSymptoms.forEach((symptom) => {
              const option = document.createElement("option");
              option.text = symptom;
              option.value = symptom;
              nextSymptom.appendChild(option);
            });
            nextSymptom.disabled = false;
            nextNextSymptom.disabled = true;
            nextNextSymptom.selectedIndex = 0;
          })
          .catch((error) => console.error("Error:", error));
      }

      function checkSymptoms() {
        const symptom1 = document.getElementById("symptom1").value;
        const symptom2 = document.getElementById("symptom2").value;
        const symptom3 = document.getElementById("symptom3").value;

        fetch("/get_disease_and_treatment", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            symptom1: symptom1,
            symptom2: symptom2,
            symptom3: symptom3,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("result").innerHTML = `
        <p><strong><span style="font-weight: 900; color: black;">You may be suffering from ${data.disease}</span></strong></p>
<p><span style="font-weight: 900;color: black;">Treatment for this disease is ${data.treatment}</span></p>

        `;
          })
          .catch((error) => console.error("Error:", error));
      }
      function enableSubmitButton() {
        const symptom1 = document.getElementById("symptom1").value;
        const symptom2 = document.getElementById("symptom2").value;
        const symptom3 = document.getElementById("symptom3").value;

        const submitButton = document.getElementById("submitButton");

        if (
          symptom1 !== "select" &&
          symptom2 !== "select" &&
          symptom3 !== "select"
        ) {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/animation.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/imagesloaded.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/popup.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>
  </body>
</html>
